.card{
    &__container{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        display: none;

        &--active{
            display: block;
        }
    }

    &__body{
        width: 30rem;
        height: 50rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-250%);
        background: rgba(255,255,255);
        border-radius: 1rem;
        opacity: 0;
        font-size: 4rem;
        transition: all .5s linear;

        &--active{
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}