.graph{
    &__container{
        display: inline-block;
        height: 100%;
        padding: 2rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__row{
        display: flex;
        flex-direction: row;
        align-items: center;

        &--reverse{
            flex-direction: row-reverse;
        }
    }

    &__col{
        display: flex;
        flex-direction: row;
        margin: 0 0 0 1rem;

        &--reverse{
            flex-direction: row-reverse;
            margin: 0 1rem 0 0;
        }
    }

    &__pathWrapper{
        position: relative;
        overflow: hidden;

        &--left, &--right{
            width: 12vw;
            height: 1rem;
        }

        &--top{
            width: 1rem;
            height: 10rem;
        }
    }

    &__nodeWrapper{
        height: 3rem;
        width: 3rem;
        overflow: hidden;
        border-radius: 100%;
        cursor: pointer;

        &--active{
            animation: focus .5s linear;
        }

        &--next{
            border: 2px solid var(--color-secondary);
        }
    }

    &__path{
        background: var(--color-primary);
        transition: all .5s linear;

        &--left, &--right{
            height: 1rem;
            width: 12vw;
        }
        &--left{
            transform: translate(-12vw,0);
        }
        &--right{
            transform: translate(12vw,0);
        }
        &--top{
            width: 1rem;
            height: 10rem;
            transform: translate(0,-10rem)
        }
        &--active{
            transform: translate(0,0);
        }
    }

    &__node{
        height: 3.5rem;
        width: 3.5rem;
        background: var(--color-secondary);
        transition: all .5s linear;
        transform: translate(-3.5rem);

        &--right{
            transform: translateX(3.5rem);
        }

        &--active{
            transform: translateX(0);
            cursor: pointer;
        }

    }
}

@keyframes focus {
    0% {
        box-shadow: 0 0 0 rgba(0,0,0,0.5);
    }
    50%{
        box-shadow: 0 0 4rem rgba(17,140,255,0.5);
    }
    100%{
        box-shadow: 0 0 0 rgba(0,0,0,0.5);
    }
}