*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --color-primary: #ffa700;
    --color-secondary: #386FF6;
    --color-white: #fff;
    --color-white-dark: #EEF0F1;
    --color-black: #222;
    --color-white-semi: #ddd;
    --color-gray: #D2D8DB;
    background-color: var(--color-white);
    color: var(--color-black);
  }

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background: var(--color-white-dark);
    overflow: hidden;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    html{
        font-size: 31.25%;
    }
  }
