.params{
    &__container{
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1rem 0;
    }
    &__body{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__fill{
        width: 100%;
        height: 100%;
        background: var(--color-primary);
        transform: translateY(100%);
        transition: all .3s linear;
    }
    &__tech{
        -webkit-mask: url('../../assets/cogs-solid.svg') no-repeat 50% 50%;
    }
    &__time{
        -webkit-mask: url('../../assets/hourglass-solid.svg') no-repeat 50% 50%;
    }
    &__social{
        -webkit-mask: url('../../assets/users-solid.svg') no-repeat 50% 50%;
    }
    &__pointer{
        -webkit-mask: url('../../assets/user-graduate-solid.svg') no-repeat 50% 50%;
    }
    &__item{
        -webkit-mask-size: contain;
        overflow: hidden;
        margin: .5rem 2rem;
        height: 5rem;
        width: 7.5rem;
        background: var(--color-gray);

        &:before{
            content: "●";
            display: block;
        }
    }
    &__dot{
        opacity: 0;
        text-align: center;
        font-size: 2rem;
        transition: all .3s linear;

        &--active{
            color: var(--color-primary);
            opacity: 1;
        }
    }
}
