.resumePage{
    &__wrapper{
        width: 100vw;
        height: 100vh;
        background: var(--color-white-dark);
        position: relative;
    }
    &__body{
        width: 35vw;
        height: 100vh;
        background: var(--color-white);
        margin: auto;
    }
}